.channelImage{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.f-14{
    font-size: 14px !important;
    margin-right: 10px !important;
}
.f-12{
    font-size: 12px !important;
    line-height: 2px;
}

.main{
    overflow-y: scroll;
    height: 100vh;
    padding-top: 100px;
}

.home-videos-link{
    text-decoration: none !important;
    color: black;
    margin-bottom: 15px !important;
    font-weight: 500;
    line-height: 1.2;
}
.home-videos-link:hover{
    color: black;
}